#display{
   display:flex;
   font-size: 48px;
   color: #007bff;
   margin-bottom: 20px;
   background-color: #ffffff;   
   justify-content: center;
   align-items: center;
   margin-left: 580px;
   margin-right: 580px;
   border: 1px solid #007bff;
}

button {
   font-size: 30px;
   padding: 15px 30px;
   border: black 2px solid;
   border-radius: 5px;
   color: #ffffff;
   background-color: #6675ff;
   cursor: pointer;
}

button:hover {
   background-color: #4d5ecc;
}